@font-face {
    font-family: "roboto";
    src: url("Roboto-Regular.ttf");
}

html {
    width: 100%;
    height:100%;
    font-size:16px;
    margin: 0;
    padding: 0;
}

body{
 width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.containerFlex2{
    display: flex;
    background-color: white;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
}

                                /*--Début de mon header*/
header{
    margin: none;
    padding: none;
    width: 100%;
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 0;    
}
/*--banner pour info sur ristourne livraison*/

.topBanner{
    margin:0;
    padding: 0;
    width: 100%;
    height: 30px;
    background-color: #ff8da1;
}

p{
    margin: auto;
    padding: 8px;
    font-family: "roboto";
    color: white;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
}

span.infoDelivery{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

/*--div contenant la barre de recherche/logos + menu*/
div.secondBanner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 130px;
    border: 1px solid black;
    background-color: #ffffff;
}
/*--barre de recherche*/

input::placeholder{
    color:black;
    font-family: "roboto";
    letter-spacing: 0.5px;;
}

.fa-search{
    color: #ff8da1;
    width: 15px;
    height: 15px;
}

h1{
    margin:0;
    padding: 0;
    font-family: "roboto";
    letter-spacing: 3px;
    font-size: 2rem;
}

.secondBanner, .mainLogo, .smallerLogos{
    margin-top: 10px;
}




